@model CFMS.Models.Feedback

@{
    ViewData["Title"] = "Details";   
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        @Html.HiddenFor(model => model.FeedbackId)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
    </dl>

    <h1>Responses</h1>

    <p>       
        <button type="button" class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#modalCreate" onclick="LoadModalContent('/Responses/Create/' + @Model.FeedbackId)">Add new</button>
    </p>

    <div id="containerList">
        @Html.Partial("~/Views/Responses/_List.cshtml", Model.Responses)
    </div>

</div>
<div>   
    <a asp-action="Index">Back to Feedback List</a>
</div>

<div class="modal fade" role="dialog" id="modalCreate" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
            </div>
        </div>
    </div>
</div>
